@tailwind base;
@tailwind components;
@tailwind utilities;

.awssld__content {
    background-color: #E7E7E7 !important;
}

:root {
    background-color: white;
}

.swal2-container {
    z-index: 10000;
}